//Fontes
$FontPrincipal: Roboto, sans-serif;

// Cores
$CorDeFundo: #f5f6fa;
$CorHeader: #182C61;
$CorTexto: #ffffff;
$CorBotao: #44bd32;

// Breakpoints
$SizeMobile: 767px;
$SizeTablet: 1023px;
