@use './config/reset';
@use './config/variaveis';
@use 'sass:math';

body {
    background-color: variaveis.$CorDeFundo;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$CorHeader;
    position: sticky;
    top: 0;
    left: 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

li {
    list-style: none;
}

.menu {
    display: flex;
    li {
        font-weight: bold;
        margin-left: 24px;
        a {
            color: variaveis.$CorTexto;
            text-decoration: none;        
        }
    }
}

section {
    padding: 56px 0;
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
}

.product-item img {
    width: 100%;
    border-radius: 16px;
}

.product-button {
    display: block;
    background-color: variaveis.$CorBotao;
    color: variaveis.$CorTexto;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;
    &:hover {
        background-color: darken(variaveis.$CorBotao, 5%);
    }
}

@media screen and (max-width: variaveis.$SizeTablet) {
    .container {
        max-width: 80%;
    }
    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: variaveis.$SizeMobile) {
    .products {
        display: block;
    }
    .product-item  {
        margin-bottom: 32px;
    }
}